# Ignore Python virtual environment
venv/
env/

# Ignore Rust build output and related files
debug/
target/
Cargo.lock
*.rs.bk
*.pdb
Scarb.lock
.snfoundry_cache/
bootloader*.json

# Ignore unnecessary Docker-related files
*.dockerfile
*docker-compose*.yaml

# Ignore Python-specific files
*.pyc
__pycache__/
dist/
build/
*.egg-info/

# Ignore IPython/Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.log
*.swp
*.swo
.env

# IDE-specific
.vscode/
.idea/

# System-specific
.DS_Store
Thumbs.db

# Directories not needed in Docker context
stone-prover/
deployment/
dashboard/
registry/
docs/
.git/
.github/

# Secrets
*secret*