# Python
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/
.ipynb_checkpoints/

# Rust
debug/
target/
Cargo.lock
*.rs.bk
*.pdb
Scarb.lock
.snfoundry_cache/
bootloader*.json

# Docker
*.dockerfile
*docker-compose*.yaml

# Miscellaneous
*.log
*.swp
*.swo
.env

# IDE-specific
.vscode/
.idea/

# System-specific
.DS_Store
Thumbs.db

# Secrets
*secret*