# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Docker files
Dockerfile
*.dockerfile
.dockerignore

# Ignore build output
.next
out

# Ignore miscellaneous files
*.swp
*.swo
*.bak
*.tmp
*.temp

# Ignore IDE and editor config files
.idea
.vscode
*.iml

# Ignore test directories and files
__tests__
coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts

k8s/